body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Use any font you like */
    background-color: #242424;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ensures it only takes up the initial viewport height */
    background-image: url('A5b6453b673653.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* This gives a black overlay with 50% opacity */
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

.text {
    color: white;
    font-size: 80px; /* Adjust font size as needed */
    max-width: 80%; /* Adjust for text wrapping if needed */
}

.smalltext {
    color: white;
    font-size: 20px; /* Adjust font size as needed */
    max-width: 60%; /* Adjust for text wrapping if needed */
}

.texttitle{
    display: flex;
   flex-direction: column;
    justify-content: flex-start;
    margin: 0px;

}

.large{
    margin: 0px;
}

.images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
}

.pic {
    width: 25vw;
    height: auto;
}

.pic:hover {
    opacity: 50%;
}

#openhours {
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 200px;
    margin: 140px;
    background-color: #e0e0e0;
    border-radius: 15px;
    
}

.open {
    color: black;
    font-size: 20px; /* Adjust font size as needed */

}

.textinbox{
    display: flex;
    flex-direction: column;

}

.Day{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.time{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.opendayo {
    display: flex;
    justify-content: flex-end;
}

.maps{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
}

.textmap{
    color: white;
    font-size: 30px; /* Adjust font size as needed */
    max-width: 20vw;
}