/* Basic Reset */

::-webkit-scrollbar {
    display: none;
}

/* Hamburger Menu Styles */
.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 35px;
}

.hamburger-menu .bar {
    height: 3px;
    width: 100%;
    background-color: #333;
}

@media (max-width: 700px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}


.ART {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    text-align: center;
}

.overlay-text {



    position: absolute;
    
    color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    white-space: nowrap;
    font-weight: 900;

    /* Adjustments for centering relative to #face */
    top: calc(32% + ((60% / 2) - (10vw / 2))); /* Adjusted position */
    left: 50%;
    transform: translate(-50%, -50%);


}

/* Media query for smaller screens */
@media (min-width: 900px) {
    .overlay-text {
        font-size: 200px; /* Minimum font size */
    }
}

@media (max-width: 900px) {
    .overlay-text {
        font-size: 20vw;
        top: calc(33% + ((60% / 2) - (10vw / 2))); /* Adjusted position */
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
}


.subtitle{
    z-index: 11;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 85%; /* Position at the half-height of .ART */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the position for true centering */
    white-space: nowrap; /* Ensures the text doesn't wrap */
    line-height: 1.2; /* Adjust line height for the two lines of text */
    background: linear-gradient(61deg, #809bce, #eac4d5, #95b8d1, #b8e0d2, #dbeadf);
    background-size: 1000% 1000%;
    animation: background 13s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Make the text color transparent to show the gradient */
    font-weight: 900;
    font-size: 20px;
    margin-top: 50px;
}


@keyframes Color{

    0%{color:94% 0%}
    50%{color:7% 100%}
    100%{color:94% 0%}
  }
  
  


#face{
    width: 60%;
    min-width: 500px;
    max-width: 700px;
    margin-top: -5%;

    z-index: 1; /* Lower z-index to be behind the text */
    position: absolute; /* Position the text absolutely within .ART */
    top: 65%;
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the position for true centering */
    white-space: nowrap; /* Ensures the text doesn't wrap */
    line-height: 1.2; /* Adjust line height for the two lines of text */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#globe{
    width: 30px;
}

.landing{
    display: flex;
    flex-direction: column;
}

.background {
    background: linear-gradient(61deg, #809bce, #eac4d5, #95b8d1, #b8e0d2, #dbeadf);
    background-size: 1000% 1000%;
    animation: background 13s ease infinite;
}

.background{
    display: flex;
    flex-direction: column;
}

@keyframes background {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}

#language {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black
}


/* Typography */
body {
    font-family: 'Arial', sans-serif;
}

/* Navigation */
header {
    background: transparent;
    padding: 10px 20px;
    position: static;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between; /* This will push the nav-links to the right */
    align-items: center; /* This will vertically align the items in the middle */
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center; /* This will center the navigation links */
    list-style-type: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
  }

  .nav-links li {
    padding: 0 15px; /* Provides space between the navigation items */
  }
  
  .nav-links a {
    text-decoration: none; /* This will remove the underline from the links */
  }
  
.social-icon {
    display: flex;
    align-items: center;
    width: 30px;
    border-radius: 8px;
  }

 #arin-black-header {
    max-width: 100px; /* You can set a maximum width for the image */
    width: 10%;
    height: auto; /* This will maintain the aspect ratio of the image */
  }

nav .logo {
    font-weight: bold;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li a {
    text-decoration: none;
    padding: 0 15px;
    display: block;
}


/* Home Section */
#home {
    padding: 50px;
    background-color: #eceff1; /* Placeholder color */
    text-align: center;
}

#home h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

/* About Section */
#about {
    padding: 50px;
}

/* Company Details Section */
#company-details {
    padding: 50px
}

/* Contact Section */
#contact {
    padding: 50px;
}

#main{
    color: black;
}

.non {
    color: rgb(170, 170, 170);
}

/* Footer Styles */
footer {
    background-color: #f8f8f8; /* Adjust to match your design */
    color: rgb(170, 170, 170);
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-logo {
    max-width: 120px; /* Adjust as needed */

}

.footer-links,
.footer-contact {
    display: flex;
    align-items: flex-end;
    margin: 5px 10px;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    align-items: right;
}

.leftfooter{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-links{
    margin-left: 5px;
    margin-right: 5px;
}

.footer-links a,
.footer-logo,
.footer-social a {
    text-decoration: none;
    color: rgb(170, 170, 170);
    margin: 0 10px;
}


.footer-social{
    display: flex;
    align-items:center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 10px;
}

.footer-social a img {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    border-radius: 8px; /* Adjust as needed */
    margin-top: 7px;
}

.footer-contact {
    text-align: right;
}

.footer-contact p {
    margin: 0;
    line-height: 1.5; /* Adjust as needed */
}

.footer-bottom {
    text-align: center;
    width: 100%;

    padding-top: 24px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-links,
    .footer-social,
    .footer-contact {
        flex-direction: column;
        align-items: center;

    }

    .footer-links a {
        margin: 5px 0; /* Adjust as needed */
    }

    .footer-contact p {
        text-align: center;
    }
}


