/* Basic Reset */

::-webkit-scrollbar {
    display: none;
}

/* Hamburger Menu Styles */
.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 35px;
}

.hamburger-menu .bar {
    height: 3px;
    width: 100%;
    background-color: #333;
}

.nav-links.active {
    display: flex;
}

/* Hide .nav-links on screens 768px wide or smaller (like iPads) */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}



.ART {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    text-align: center;
}

.overlay-text {



    position: absolute;
    
    color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    white-space: nowrap;
    font-weight: 900;

    /* Adjustments for centering relative to #face */
    top: calc(32% + ((60% / 2) - (10vw / 2))); /* Adjusted position */
    left: 50%;
    transform: translate(-50%, -50%);


}

/* Media query for smaller screens */
@media (min-width: 900px) {
    .overlay-text {
        font-size: 200px; /* Minimum font size */
    }
}

@media (max-width: 900px) {
    .overlay-text {
        font-size: 16vw;
        top: calc(33% + ((60% / 2) - (10vw / 2))); /* Adjusted position */
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
}


.subtitle{
    z-index: 11;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 85%; /* Position at the half-height of .ART */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the position for true centering */
    white-space: nowrap; /* Ensures the text doesn't wrap */
    line-height: 1.2; /* Adjust line height for the two lines of text */
    background: linear-gradient(61deg, #809bce, #eac4d5, #95b8d1, #b8e0d2, #dbeadf);
    background-size: 1000% 1000%;
    animation: background 13s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Make the text color transparent to show the gradient */
    font-weight: 900;
    font-size: 20px;
    margin-top: 50px;
}


@keyframes Color{

    0%{color:94% 0%}
    50%{color:7% 100%}
    100%{color:94% 0%}
  }
  
  


#face{
    width: 60%;
    min-width: 200px;
    max-width: 700px;
    margin-top: -5%;

    z-index: 1; /* Lower z-index to be behind the text */
    position: absolute; /* Position the text absolutely within .ART */
    top: 65%;
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the position for true centering */
    white-space: nowrap; /* Ensures the text doesn't wrap */
    line-height: 1.2; /* Adjust line height for the two lines of text */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#globe{
    width: 30px;
}

.landing{
    display: flex;
    flex-direction: column;
}

.background {
    background: linear-gradient(61deg, #809bce, #eac4d5, #95b8d1, #b8e0d2, #dbeadf);
    background-size: 1000% 1000%;
    animation: background 13s ease infinite;
}

.background{
    display: flex;
    flex-direction: column;
}

@keyframes background {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}

#language {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black
}


/* Typography */
body {
    font-family: 'Arial', sans-serif;
}

/* Navigation */
header {
    background: transparent;
    padding: 10px 20px;
    position: static;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between; /* This will push the nav-links to the right */
    align-items: center; /* This will vertically align the items in the middle */
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center; /* This will center the navigation links */
    list-style-type: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
  }

  .nav-links li {
    padding: 0 15px; /* Provides space between the navigation items */
  }
  
  .nav-links a {
    text-decoration: none; /* This will remove the underline from the links */
  }
  
.social-icon {
    display: flex;
    align-items: center;
    width: 30px;
    border-radius: 8px;
  }

 #arin-black-header {
    max-width: 100px; /* You can set a maximum width for the image */
    width: 10%;
    height: auto; /* This will maintain the aspect ratio of the image */
  }

nav .logo {
    font-weight: bold;
    font-size: 24px;
}



.nav-links li a {
    text-decoration: none;
    padding: 0 15px;
    display: block;
}


/* Home Section */
#home {
    padding: 50px;
    background-color: #eceff1; /* Placeholder color */
    text-align: center;
}

#home h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

/* About Section */
#about {
    padding: 50px;
}

/* Company Details Section */
#company-details {
    padding: 50px
}

/* Contact Section */
#contact {
    padding: 50px;
}

#main{
    color: black;
    font-weight: bold;
}

.non {
    color: rgb(170, 170, 170);
    font-weight: bold;
}




.sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers .sec1line1 horizontally */
    align-items: center; /* Centers .sec1line1 vertically */
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
}

.sec1line1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* This ensures the content of .sec1line1 is centered */
    position: relative; /* Allows absolute positioning relative to this container */
    padding: 10px; /* Optional: to ensure content doesn't touch the edges */
}

#lettext1 {
    color: white;
    font-size: 2vw;
    margin-right: 55vw; /* Space between #lettext1 and #plusone */
}

#plusone {
    color: white;
    font-weight: 300;
    font-size: 150px;
    position: absolute; /* Position #plusone absolutely within .sec1line1 */
    right: 0; /* Align #plusone to the far right within .sec1line1 */
}




.sec1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align children to the start of the container */
    height: 100vh;
    padding-left: 50px; /* Adjust as needed for spacing from the left edge */
}

.sec1line1, .sec1line2 {
    display: flex;
    align-items: center;
    white-space: nowrap; /* Prevent wrapping to a new line */
}

#lettext1, #Vstack {
    color: white;
    font-size: 3vw;
}

#plusone {
    color: white;
    font-weight: 300;
    font-size: 10vw;
    margin-left: 30vw; /* Keep the plus sign where it is */
}

#black {
    color: black;
    font-size: 3vw;
}

#Vstack2, #Vstack {
    color: white;
    font-weight: 300;
    font-size: 5vw;
}

.sec1{
    height:120vh;
    width: 100vw;   
}

.sec2{
    display: flex;
    justify-content: space-around;
    
}

#plustwo, .line{
    margin-left: 5vw;
}

.line{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-weight: 300;
    margin-top: 10vh;
}

#plustwo{
    color: white;
    font-weight: 300;
    font-size: 10vw;
    margin-top: 6vh;
}

#Service{
    font-weight: 500;
    font-size: 10vw;
}


#Project{
    font-weight: 500;
    font-size: 5vw;
}

#Service {
    display: inline-block; /* Allows the pseudo-element to align correctly */
    cursor: pointer;
    position: relative; /* Needed for absolute positioning of pseudo-element */
}

#Service::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: white; /* Line color */
    transition: width 0.5s ease; /* Animates the width */
    position: absolute;
    bottom: 0;
}

#Service:hover::after {
    width: 100%; /* Full width on hover */
}

.sec3{
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100vw; 
    margin-top: 60vh;
    margin-left: 10vw;
}


#aboutus{
    margin-top: 10vh;
    color: white;
    font-weight: 300;
    font-size: 10vw;
    box-sizing: border-box;
}

#aboutus {
    display: inline-block; /* Allows the pseudo-element to align correctly */
    cursor: pointer;
    position: relative; /* Needed for absolute positioning of pseudo-element */
}

#aboutus::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: white; /* Line color */
    transition: width 0.5s ease; /* Animates the width */
    position: absolute;
    bottom: 0;
    
}

#aboutus:hover::after {
    width: 50%; /* Full width on hover */
}

#lettextus{
    color: #DAECFC;
    font-weight: 600;
    font-weight: bold;
    font-size: 2vw;
}

#linefinal{
    background-color: white; /* This will make the div appear as a black line */
    height: 3px; /* A smaller height for a line; change as needed */
    width: 40vw;
    margin-left: 50vw;
    margin-top: 100px;
}


#lineservice{
    background-color: white; /* This will make the div appear as a black line */
    height: 3px; /* A smaller height for a line; change as needed */
    width: 40vw;
    margin-left: 60vw;
    margin-top: 100px;
}

#lineservice2{
    background-color: white; /* This will make the div appear as a black line */
    height: 40vw; /* A smaller height for a line; change as needed */
    width: 3px;
    margin-left: 3px;
}




/* Footer Styles */
footer {
    background-color: #f8f8f8; /* Adjust to match your design */
    color: rgb(170, 170, 170);
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-logo {
    max-width: 120px; /* Adjust as needed */

}

.footer-links,
.footer-contact {
    display: flex;
    align-items: flex-end;
    margin: 5px 10px;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    align-items: right;
}

.leftfooter{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-links{
    margin-left: 5px;
    margin-right: 5px;
}

.footer-links a,
.footer-logo,
.footer-social a {
    text-decoration: none;
    color: rgb(170, 170, 170);
    margin: 0 10px;
}


.footer-social{
    display: flex;
    align-items:center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 10px;
}

.footer-social a img {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    border-radius: 8px; /* Adjust as needed */
    margin-top: 7px;
}

.footer-contact {
    text-align: right;
}

.footer-contact p {
    margin: 0;
    line-height: 1.5; /* Adjust as needed */
}

#Service, #Service:visited {
    color: white; /* Keeps the link color white even after it's been visited */
    text-decoration: none; /* Optional: Removes the underline from the link */
}

.footer-bottom {
    text-align: center;
    width: 100%;

    padding-top: 24px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-links,
    .footer-social,
    .footer-contact {
        flex-direction: column;
        align-items: center;

    }

    .footer-links a {
        margin: 5px 0; /* Adjust as needed */
    }

    .footer-contact p {
        text-align: center;
    }
}


